{% extends "landing/base.html" %}

{% block content %}
  {% include "landing/partials/header.html" %}
  {% include "landing/partials/hero.html" %}
  {% include "landing/partials/vision.html" %}
  {% include "landing/partials/problem.html" %}
  {% include "landing/partials/how-it-works.html" %}
  {% include "landing/partials/graphs-vs-keywords.html" %}
  {% include "landing/partials/features.html" %}
  {% include "landing/partials/tech-stack.html" %}
  {% include "landing/partials/pricing.html" %}
  {% include "landing/partials/cta.html" %}
  {% include "landing/partials/footer.html" %}
{% endblock %}

